# Build artifacts
/build/
ghostiam
ghostiam.exe
ghostiam-detector

# Local ghost store (created by --local mode)
ghosts.json

# Terraform
/terraform/.terraform/
/terraform/*.tfstate
/terraform/*.tfstate.*
/terraform/terraform.lock.hcl
